.first-box-container {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 10px;
    background-color: red;
  }
  
  .second-box-container {
    width: 200px;
    height: 100px;
    left: 250px;
    position: absolute;
    top: 10px;
    background-color: yellow;
  }
  
  .third-box-container {
    width: 200px;
    height: 100px;
    position: absolute;
    left: 500px;
    background-color: green;
  }